## Anna Valentine
### ENGG139.2: Polar Engineering, Polar Hydro
### HW3: SEA ICE FORCING

In [2]:
import matplotlib.pyplot as plt
import pandas as pd
import numpy as np

In [7]:
## import csv into pandas dataframe
sd = pd.read_excel('SolarDeclination.xlsm')

In [6]:
## let's see that the tables were loaded in correctly
sd

Empty DataFrame
Columns: []
Index: []

In [ ]:
### it looks like this is an excel function, and I am having trouble using the excel function, so I am goin
### to just calculate dat of year here:

### first, what days of the year do I need to use:

In [122]:
import datetime

In [123]:
dates = []
months = np.arange(1, 12, 1)
for m in months: dates.append(datetime.date(2023, m, 15))
dates

[datetime.date(2023, 1, 15),
 datetime.date(2023, 2, 15),
 datetime.date(2023, 3, 15),
 datetime.date(2023, 4, 15),
 datetime.date(2023, 5, 15),
 datetime.date(2023, 6, 15),
 datetime.date(2023, 7, 15),
 datetime.date(2023, 8, 15),
 datetime.date(2023, 9, 15),
 datetime.date(2023, 10, 15),
 datetime.date(2023, 11, 15)]

In [163]:
## turn into julian days
j_day = []
for day in dates: j_day.append(day.timetuple().tm_yday)
j_day

[15, 46, 74, 105, 135, 166, 196, 227, 258, 288, 319]

In [164]:
## calculate approximate declination: 
theta = 23.5
C = 360
dr = 172
dy = 365

delta = []
for day in j_day: delta.append(-theta*np.cos((C/dy)*(day +10)*(np.pi/180)))
    
## convert to theta
theta_eq = []
for d in delta: theta_eq.append(70 - d)

In [165]:
delta

[-21.35721447747832,
 -13.400693878256998,
 -2.92526270133955,
 9.34225613564006,
 18.771315262829575,
 23.353044640250182,
 21.603220288387348,
 13.89464395429409,
 2.3222732602224947,
 -9.527504616459936,
 -19.130083197443113]

In [166]:
theta*np.cos((C/dy)*(80 +10)*(np.pi/180))

0.505628289751223

In [174]:
## now calculate R_toa
R_toa = []
for th in theta_eq: R_toa.append(1.36*0.7*((1/np.cos(th*(np.pi/180))**0.678))) 
R_toa

C:\Users\annav\AppData\Local\Temp\ipykernel_16564\528394898.py:3: RuntimeWarning: invalid value encountered in double_scalars
  for th in theta_eq: R_toa.append(1.36*0.7*((1/np.cos(th*(np.pi/180))**0.678)))

[nan,
 4.127390885489546,
 2.1851407721930074,
 1.544076085378814,
 1.3075524359067687,
 1.2285650712503842,
 1.2566694990533092,
 1.4144723502961765,
 1.8352128321493635,
 3.0247635205591847,
 16.281316258109587]

In [175]:
## replace nan with 0 
R_toa = [0 if x != x else x for x in R_toa]

In [176]:
### calculate forcing
fa = 0.75
d_albedo = 0.35 - 0.05
forcing = []
for r in R_toa: forcing.append(r*fa*d_albedo)

In [187]:
# okay so average over our summer months: 
f_avg = (forcing[6] + forcing[7] + forcing[8])/3

In [193]:
## W/m^2
tot = f_avg * (3/12) * ((3.4*10**6)/(5.1*10**8)) * 1000  # find total forcing:
print("the average global forcing due to ice sheet loss is", tot, " W/m^2")

the average global forcing due to ice sheet loss is 0.5632943351873562  W/m^2

### Commentary: 
this is much smaller than the change in forcing due to to CO2 (about 3.71 w/m^2). Although small, this is still a somewhat significant amount of forcing, and the change in sea ice c

### calculate H sat

### Commentary: 
It appears that the calculated model fit the Dansgaard data fairly well, our model may be slightly shifted down in temperature, but overall the trend fits and is within the scale of magnitude of observed.